[program:celery-{{user_name}}]
user={{user_name}}
directory={{app_dir}}
environment = DJANGO_SETTINGS_MODULE="config.settings.production"
command = {{virtualenv_home}}/bin/celery --app={{django_module}} worker --loglevel=info
autostart=true
autorestart=true
redirect_stderr=true
umask=002
