[program:{{app_name}}-ws]
user={{user_name}}
directory={{app_dir}}
environment = CLOUDAMQP_URL="redis://localhost:6379"
command = {{virtualenv_home}}/bin/uwsgi
 --chdir={{app_dir}}
 --module=config.wsgi_websockets:application
 --env DJANGO_SETTINGS_MODULE=config.settings.production
 --master
 --pidfile={{tmp_dir}}/uwsgi_websocket.pid
 --http-socket={{tmp_dir}}/web.socket
 --chmod-socket=664
 --chown-socket={{user_name}}
 --gevent 1000
 --workers=2
 --http-websockets
 --max-requests=5000
 --buffer-size=32768
 --vacuum
 --home={{virtualenv_home}}
 --umask 002
 --logto=/home/{{user_name}}/log/uwsgi_ws.txt
autostart=true
autorestart=true
redirect_stderr=true
