[program:{{app_name}}]
user={{user_name}}
directory={{app_dir}}
command = {{virtualenv_home}}/bin/uwsgi
 --chdir={{app_dir}}
 --chmod-socket=664
 --chown-socket={{user_name}}
 --module=config.wsgi_django:application
 --env DJANGO_SETTINGS_MODULE=config.settings.production
 --master
 --pidfile={{tmp_dir}}/uwsgi.pid
 --socket={{tmp_dir}}/django.socket
 --max-requests=5000
 --buffer-size=32768
 --vacuum
 --home={{virtualenv_home}}
 --umask 002
 --logto=/home/{{user_name}}/log/uwsgi.txt
autostart=true
autorestart=true
redirect_stderr=true
