# -*- coding: utf-8 -*-

from .common import *  # noqa

SECRET_KEY="dasdas"
STATIC_ROOT = "{{ pillar['user_homedir'] }}/public"

ALLOWED_HOSTS = ['{{ pillar['IP_ADDR'] }}', '{{ pillar['host_name'] }}']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ pillar['DB_NAME'] }}',
        'USER': '{{ pillar['DB_USER'] }}',
        'PASSWORD': '{{ pillar['DB_PASS'] }}',
        'HOST': '{{ pillar['DB_HOST'] }}',
        'PORT': '5432',
    }
}

INSTALLED_APPS += ('opbeat.contrib.django',)
OPBEAT = {
    'ORGANIZATION_ID': "{{ pillar['opbeat']['ORGANIZATION_ID']}}",
    'APP_ID': "{{ pillar['opbeat']['APP_ID']}}",
    'SECRET_TOKEN': "{{ pillar['opbeat']['SECRET_TOKEN']}}"
}
MIDDLEWARE_CLASSES = (
    'opbeat.contrib.django.middleware.OpbeatAPMMiddleware',
    'opbeat.contrib.django.middleware.Opbeat404CatchMiddleware',
) + MIDDLEWARE_CLASSES

SALT_PATH = "{{ pillar['salt_path'] }}"
EMAIL_BACKEND = 'django_mailgun.MailgunBackend'

MAILGUN_ACCESS_KEY = '{{ pillar['mailgun']['access_key'] }}'
MAILGUN_SERVER_NAME = '{{ pillar['mailgun']['server_name'] }}'

BOWER_PATH = "{{ pillar['user_homedir'] }}/node_modules/.bin/bower"
